$main-color: #2a4e5c;
$secondary-color: rgb(28, 73, 58)
$tertiary-color: white

$font-title: 'Beau Rivage', cursive;
$font-main: 'Trispace', sans-serif;

/* tamaños */
$total-alto: 90vh;
$size-icon: 70px;


